//variables
$primary-color: color("materialize-red", "lighten-2") !default;
$primary-color-light: false !default;
$primary-color-dark: false !default;
@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: color("teal", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;

$link-color: color("light-blue", "darken-1") !default;


//media querys

  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
    /* STYLES GO HERE */
    .hide-ipad-large{
      display: none !important;
    }
    .item-2{
      width: 25% !important;
    }
    .text-9-ip{
      font-size: 9px !important;
    }
    .text-10-ip{
      font-size: 10px !important;
    }
    .text-14-ip{
      font-size: 14px !important;
    }
    .text-15-ip{
      font-size: 15px !important;
    }
    .text-16-ip{
      font-size: 16px !important;
    }
    .text-18-ip{
      font-size: 18px !important;
    }
    .text-20-ip{
      font-size: 20px !important;
    }
    .text-30-ip{
      font-size: 30px !important;
    }
    .text-40-ip{
      font-size: 40px !important;
    }
    .btn-pd-large{
      padding: 0 5px;
    }
    //.owl-carousel .owl-item{
    //  width: 248px !important;
    //  transform: translate3d(-248px, 0px, 0px) !important;
    //}
    .margin-top-ip-0{
      margin-top: 0 !important;
    }
    .check-form i{
      font-size: 40px !important;
    }
    .btn-checkout{
      text-align: center;
    }
  }

  @media #{$small-and-down} {
    #index-banner .section {
      top: 0;
    }
    .text-15-ip{
      font-size: 15px !important;
    }
    .text-20-ips{
      font-size: 20px !important;
    }
    .text-30-ips{
      font-size: 30px !important;
    }
    .text-40-ips{
      font-size: 40px !important;
    }
    .btn-header{
      padding: 0 10px;
    }
    .nav .button-collapse i{
      font-size: 2.1rem;
    }
    .brand-logo{
      margin-top: 5px;
    }
    .include-services li{
      width: 95px !important;
    }
    .text-20-ips{
      font-size: 20px !important;
    }
    .text-30-ips{
      font-size: 30px !important;
    }
    .btn-date {
      height: 30px !important;
      line-height: 30px !important;
      padding: 0 15px !important;
    }
    .text-16-ip{
      font-size: 16px !important;
    }
    .text-11-ip{
      font-size: 11px !important;
    }

    .checkout-form [type="radio"]:not(:checked) + label, .checkout-form [type="radio"]:checked + label{
      font-size: 8px;
    }
  }
  @media #{$medium-and-up} {

    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
      height: 48px;
      line-height: 48px;
    }
    nav ul a{
      padding: 0 8px;
    }
    .parallax-container .section {
      position: absolute;
      //top: 40%;
    }
    #index-banner .section {
      top: 10%;
    }
    .header-phone{
      font-size: 15px;
    }
    .btn-header{
      padding: 0 10px;
    }

    .include-services li{
      width: 10px;
    }
    .text-16-ip{
      font-size: 16px !important;
    }
    .text-11-ip{
      font-size: 11px !important;
    }
  }
  @media #{$medium-and-down} {
    // styles for medium screens and down

    .include-services li{
      width: 60px !important;
    }
  }
  @media #{$large-and-up} {
    // styles for large screens and up
    .header-phone{
      font-size: 16px;
    }
    .btn-header{
      padding: 0 10px;
    }
    .btn-header i{
      margin-right: 5px;
    }

  }