$secondary-color: #f9a825;

// Fonts
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

// Variables
//@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Materialize
@import "node_modules/materialize-css/sass/materialize.scss";

@import "variables";

//Style
.font-moserrat{
  font-family: Montserrat;
}
//---general
.spacer-10{
  padding: 10px 0;
}
.spacer-20{
  padding: 20px 0;
}

.spacer-m-5{
  padding: 0 5px;
}
.spacer-m-10{
  padding: 0 10px;
}

.spacer-margin-10{
  margin: 10px 0;
}
.spacer-margin-20{
  margin: 20px 0;
}

.spacer-margin-50{
  margin: 50px 0;
}

.no-padding{
  padding: 0;
}


.padding-5{
  padding: 5px;
}
.padding-10{
  padding: 10px;
}
.padding-15{
  padding: 15px;
}
.padding-top-0{
  padding-top: 0;
}
.padding-bottom{
  padding-bottom: 10px;
}

.padding-left-20{
  padding-left: 20px;
}

.no-margin{
  margin: 0 !important;
}
.margin-top-0{
  margin-top: 0;
}
.margin-top-5{
  margin-top: 5px;
}
.margin-top-10{
  margin-top: 10px;
}
.margin-top-15{
  margin-top: 15px;
}
.margin-top-20{
  margin-top: 20px;
}
.margin-top-40{
  margin-top: 40px;
}
.margin-top-60{
  margin-top: 60px;
}
.margin-top-80{
  margin-top: 80px;
}
.margin-top-100{
  margin-top: 100px;
}

.margin-bottom-10{
  margin-bottom: 10px;
}
.margin-bottom-20{
  margin-bottom: 20px;
}
.margin-bottom-30{
  margin-bottom: 30px;
}
.margin-bottom-40{
  margin-bottom: 40px;
}
.margin-bottom-50{
  margin-bottom: 50px;
}
//font size
.text-10{
  font-size: 10px;
}
.text-12{
  font-size: 12px;
}
.text-13{
  font-size: 13px;
}
.text-14{
  font-size: 14px !important;
}
.text-16{
  font-size: 16px;
}
.text-18{
  font-size: 18px;
}
.text-20{
  font-size: 20px;
}
.text-25{
  font-size: 25px;
}
.text-30{
  font-size: 30px;
}
.text-40{
  font-size: 40px;
}
.text-42{
  font-size: 42px;
}
.text-50{
  font-size: 50px;
}
.right-absolute-card{
  float: right !important;
  top: 15px !important;
  position: absolute;
  right: 15px;
}
//text decoration
.line-through{
  text-decoration: line-through;
}
//--

header.slider .slides li .caption{
  height: 55px;
}
header .header-nav li{
  display: inline-block;
  padding: 0 .9em;
}

nav ul li a{
  color: #000;
}

.modal-inquire{
  max-height: 100% !important;
}

.slider .slides li .caption {
  left:0;
  width: 100%;
  top:1%;
}

//.box-slider-banner{
//  background: rgba(255,255,255,.5);
//}

//Section package offers
.box-circle-absolute{
  position: absolute;
  top: 29%;
  left: 25%;
  width: 50%;
  height: 43%;
  border-radius: 50%;
  background: rgba(255,255,255,.5);
  color: #000;
}
.text-circle {
  text-align: center;
  margin-top: 14%;
  font-size: 27px;
}
.text-circle p{
  margin: 0;
}
.text-circle span{
  display: block;
  font-style: italic
}
//Sectiopn packages maps
.section-maps{
  width: 90%;
}

.parallax-container-1 {
  height: 590px;
  background: rgba(0,0,0,.2);

}
.parallax-container-2 {
  height: 780px;
}
.parallax-container-3{
  min-height: 150px;
  height: auto;
}
.parallax-container-4{
  min-height: 250px;
  height: auto;
}
.parallax-container .section {
  width: 100%;
}

.card-packages .card-image .card-title{
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}
.card-packages .card-content{
  line-height:normal;
}

.card-packages .card-content a{
  width: 100%;
}
.card-packages .card-content a span{
  display: block;
}
.card .card-reveal{
  left: 0;
}

//formulario
.card-customize .card-title{
  padding: 0 0 0 3px !important;
  width: 100%;
  font-size: 14px;
  background: rgba(255,255,255,.8);
}

.card-customize label{
  color: #000;
  line-height: 22px;
  height: auto;
  padding-left: 25px;
  width: 100%;
}

.check-form{
  position: absolute;
  text-align: center;
  display: block !important;
  width: 100%;
  top: 10%;
}
.check-form i{
  font-size: 80px;
}
.box-check-form{
  display: none;
}

.form-design label{
  font-family: 'Montserrat';
}

.form-optional-check label, .form-check-travelers label{
  width: 100%;
  padding: 30px 0px;
  background: #f1f1f1;
  line-height: 0px;
  text-align: center;
  font-family: Montserrat;
  border-radius: 5px;
  color: #797979;
  border-bottom: solid 1px #a9a9a9;
}
.form-check-travelers label{
  line-height: 0;
}
.form-optional-check label span{
  display: block;
  line-height: 25px;
  font-size: 10px;
}

.form-check-travelers label{
  font-size: 28px;
}
//.form-check-travelers label span{
//  display: block;
//  margin-top: 10px;
//}
.form-check-travelers label span i{
  line-height:0;
}
//.card-customize [type="checkbox"]:checked  ~ label{
//  background: white !important;
//}
  //cotizaciones

span.quotes-duration{
  font-weight: 500;
}

.quotes-btn a:hover{
  color: #f9a825 ;
}
//.qoutes-box .waves-effect{
//  //width: 100%;
//}
.card-panel.active{
  background: #e8e8e8  !important;
}
.card .card-content .card-title{
  line-height: 30px;
  margin-top: 35px;
}
.quote-circle{
  padding: 0 20px;
}
.tabs-detail .tabs .tab a{
  color: #f9a825;
}
.tabs-detail .tabs .indicator{
  background-color: #f9a825;
}

.box-static-price{
  position: absolute;
  top: 0;
  right: -25% !important;
}
.position-relative{
  position: relative;
}
.price-quotes-table .active b{
  color: #f9a825;
}
.price-quotes-table .active span{
  color: #b71c1c ;
}
.price-quotes-table .disabled{
  color: #b6b6b6;
}
.customNavigation a{
  background: #f2f2f2;
  font-size: 10px;
  color: #505050;
  line-height:25px;
  height: auto;
}
.customNavigation a:hover{
  background: #d3d3d3;
  color: #000000;

}

.pinned {
  z-index: 3;
}

.btn-more, .btn-less{
  text-align: center;
  color: #989898;
}

.btn-more i, .btn-less i{
  font-size: 60px;
  text-align: center;
  display: block;
}

img.desaturada{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
}

.box-client-right i{
  //font-size: 130px;
}
.box-client-right p{
  margin: 0;
}
//Ground packages
.include-services .list-services{
  display: block;
  width: 100%;
}
.include-services li{
  padding: 10px;
  display: inline-block;
  width: 85px;
}
.include-services span{
  display: block;
  text-align: center;
}
.list-services.uber li{
  width: 60px;
  padding: 0px;
}
.box-door .card-title{
  font-size: 30px;
}
//testimonials
.testimonials-box{
  position: relative;
}
.testimonials-box-text i{
  font-size: 90px;
}
.testimonials-box .testimonials-box-text{
  position: absolute;
  top: 0;
  right: 60px !important;
}
.content-video-1 {
  position: relative;
}
.content-video-btn-1{
  background: rgba(255,255,255,0.7);
  border-radius: 50%;
  height: 80px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  text-align: center;
}
.content-video-btn-1 i{
  line-height:1.6;
  font-size:50px;
}
.content-video-btn-1 a{
  border-radius:50%;
  line-height:1.6;
}
.content-video-btn-1 a:hover{
  color: grey;
}
//detail
.detail-maps .circle-days{
  background: #f9a825;
  border-radius: 14px;
  border: 2px solid #333;
  color: #fff;
  font-weight: bold;
  padding: 0 5px;
}
.detail-maps .overview{
  height: 215px;
  overflow-y: scroll;
}
//footer
footer{
  background: #303030;
}
footer img{
  width: 100%;
  height: 100%;
}